body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.imagem-fundo {
  background-image: url("peguim.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  position: relative;
}

.conteudo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1, p {
  color: white;
  margin: 0;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 2rem;
  margin-top: 20px;
}
