body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.galeria img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
